.ShowcaseVideo{
    position: relative;
    z-index: 10;
    background-color: rgb(148 242 148);
}
.ShowcaseVideo video{
    z-index: 20;
    position: relative;
    width: 100%;
    height: 500px;
    
}



.devimg{
    /* width: 50%; */
    width: 100%;
    height: 500px;
    /* padding: 20px; */
    border-radius: 50px;
    box-shadow: 2px 2px 4px rgb(37, 37, 37) , -2px -2px 4px rgb(37, 37, 37);
}

.ImgDevOfVlg{  /*Image of Village Development */
    padding: 20px;
}

.OurGoals{
    margin: 15px;
}

.HomeIntro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(148, 242, 148);

}

.slogon{
    font-size: 20px;
    font-weight: 700;
    color: rgb(11, 72, 255);
}

li{
    line-height: 50px;
}

.JoinBtn{
   width: 90px;
   height: 40px;
   border-radius: 20px;
   border: none;
   background-color: rgb(107, 105, 234);
   font-weight: 700;
}

.JoinBtn:hover{
    color: white;
    background-color: blue;
}


.OurIntro{
    
   width: 50%;
   padding-left: 15px;
   font-size: 20px;
   
}

.HomeSecondSectionHeading{
    text-align: center;
    background-color: rgb(220, 155, 33);
    color: white;
    padding: 5px;
}

.HomeSecondSection{
    display: flex;
    justify-content: space-evenly;
    background-color: lightgreen;
    align-items: center;
    flex-direction: row-reverse;
    padding: 25px;

}

.secondSectionImg img{
   width: 100%;
   height: 500px;
   border-radius: 50px;
   box-shadow: 4px 4px 14px rgb(12, 12, 12), -4px -4px 14px rgb(241, 240, 240);
}

@media (max-width:500px) {
    .devimg{
        height: auto;
    }

    .HomeIntro{
        flex-direction: column-reverse;
    }

    .HomeContainer{
        text-align: center;
        
    }

    ol{
        list-style: none;
    }

    .HomeSecondSection{
        flex-direction: column-reverse;
    }
    .secondSectionImg img{
        height: auto;
    }

    .OurIntro{
        width: auto;
        text-align: left;
        margin-top: 50px;
    }
    .ShowcaseVideo video{
        width: 100%;
        height: auto;
    }
}



@media (min-width:500px) and (max-width:900px) {
    .HomeSecondSection{
        flex-wrap: wrap;

    }

    .OurIntro{
        width: 100%;
    }
}




