.HeaderContainer{
    display: flex;
    background-color: orange;
    position: fixed;
    width: 100%;

}

.LogoContainer{
    display: flex;
    align-items: center;
    background-color: rgb(105, 148, 180);
    margin: 15px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 0 100px 100px 0;
}

.LogoContainer p{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.logo{
    height: 100px;
}

@media (max-width:500px) {
   
}